html {
    height: 100%;
}

body{
    padding-top: 70px;
    font-family: PT Serif;
    color: #031320;
}

#frontPageBody {
    background: url(https://images.unsplash.com/photo-1507738978512-35798112892c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    background-size: cover;
    background-position: center;
}

#loginBackground {
    width: 100%;
    height: 100%;
}

#loginBackground::after {
    content: "";
    background: url(https://images.unsplash.com/photo-1509822929063-6b6cfc9b42f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
    background-size: cover;
    background-position: center;
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
}

.jumbotron {
    color: #031320;
    background: #eaf7fa; 
}

.navbar {
    background: #c1e8f0;
}

.navbar-light .navbar-nav .nav-link {
    color: #031320;
}

.navbar-light .navbar-brand {
    color: #031320;
}

#bookSearch {
    margin-top: 20px;
    display: none;
}

#galerii {
    text-align: center;
}

.img-thumbnail {
    width: 1200;
    height: 800;
    background: none;
    border: 0;
}

#content {
    text-align: center;
    padding-top: 25%;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
                 0px 8px 13px rgba(0, 0, 0, 0.1),
                 0px 18px 23px rgba(0, 0, 0, 0.1);
}

h1 {
    font-weight: 700;
    font-size: 4em;
}

hr {
    width: 500px;
    border-top: 1px solid;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2)
}

#login {
    padding-top: 50px;
}

#indexBtnDiv {
    padding-top: 20px;
}

#indexBtn1 {
    margin-right: 15px;
    width: 200px;
}

#indexBtn2 {
    margin-left: 15px;
    width: 200px;
}

#orgPhoto {
    padding: 5px 5px;
}